h1{

    font-family: 'Cinzel', serif;
    
}

.title is-1 has-text-black{
    font-family: 'Nanum Myeongjo', serif;
}

a{
    color: white;
}
a:link{
    text-decoration: none;
}
a:hover{
    color: black;
    cursor: pointer;
}